In [1]:
import pandas as pd
import warnings  #由于版本的关系可能出现警告，忽略掉即可
warnings.filterwarnings('ignore')
data = pd.read_csv('data/train.csv')
data.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales
0,1,CA-2017-152156,08/11/2017,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600
1,2,CA-2017-152156,08/11/2017,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400
2,3,CA-2017-138688,12/06/2017,16/06/2017,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036.0,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200
3,4,US-2016-108966,11/10/2016,18/10/2016,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775
4,5,US-2016-108966,11/10/2016,18/10/2016,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680

In [2]:
def get_year_month_day(df,time_col):
    
    '''Extract the year, month, and day of the time field data'''
    
    df[time_col]  = pd.to_datetime(df[time_col])
    df['year'] = df[time_col].dt.year
    df['month'] = df[time_col].dt.month
    df['day'] = df[time_col].dt.day
    return df

In [3]:
#获取年月日字段
data = get_year_month_day(data,'Order Date')
data.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,year,month,day
0,1,CA-2017-152156,2017-08-11,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420.0,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2017,8,11
1,2,CA-2017-152156,2017-08-11,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420.0,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,2017,8,11
2,3,CA-2017-138688,2017-12-06,16/06/2017,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036.0,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2017,12,6
3,4,US-2016-108966,2016-11-10,18/10/2016,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311.0,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,2016,11,10
4,5,US-2016-108966,2016-11-10,18/10/2016,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311.0,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2016,11,10

In [4]:
#获取数据的年份唯一值,核实没有缺失值None
year_ls = data['year'].unique()
year_ls

array([2017, 2016, 2015, 2018], dtype=int64)

In [5]:
# 获取类别部门唯一值，核实没有缺失值
segment_ls = data['Segment'].unique()
segment_ls

array(['Consumer', 'Corporate', 'Home Office'], dtype=object)

In [6]:
#封装获取数据的过程，方便回调
def get_data(year,segment):
    return data[(data['year']==year) & (data['Segment']==segment)]

In [7]:
#核实数据无误
get_data(2018,'Corporate').head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,year,month,day
41,42,CA-2018-120999,2018-10-09,15/09/2018,Standard Class,LC-16930,Linda Cazamias,Corporate,United States,Naperville,...,60540.0,Central,TEC-PH-10004093,Technology,Phones,Panasonic Kx-TS550,147.168,2018,10,9
43,44,CA-2018-139619,2018-09-19,23/09/2018,Standard Class,ES-14080,Erin Smith,Corporate,United States,Melbourne,...,32935.0,South,OFF-ST-10003282,Office Supplies,Storage,"Advantus 10-Drawer Portable Organizer, Chrome ...",95.616,2018,9,19
75,76,US-2018-118038,2018-09-12,11/12/2018,First Class,KB-16600,Ken Brennan,Corporate,United States,Houston,...,77041.0,Central,OFF-BI-10004182,Office Supplies,Binders,Economy Binders,1.248,2018,9,12
76,77,US-2018-118038,2018-09-12,11/12/2018,First Class,KB-16600,Ken Brennan,Corporate,United States,Houston,...,77041.0,Central,FUR-FU-10000260,Furniture,Furnishings,"6"" Cubicle Wall Clock, Black",9.708,2018,9,12
77,78,US-2018-118038,2018-09-12,11/12/2018,First Class,KB-16600,Ken Brennan,Corporate,United States,Houston,...,77041.0,Central,OFF-ST-10000615,Office Supplies,Storage,"SimpliFile Personal File, Black Granite, 15w x...",27.240,2018,9,12

In [8]:
get_data(2018,'Consumer').groupby('Sub-Category')['Sales'].sum().sort_values(ascending=False)[:5]

Sub-Category
Phones     51264.402
Chairs     50179.781
Binders    36527.753
Copiers    29919.798
Tables     27675.672
Name: Sales, dtype: float64

In [9]:
get_data(2018,'Consumer').groupby('Region')['Sales'].sum().sort_values(ascending=False)[:5]

Region
West       105850.9985
East        94525.0390
Central     67705.9074
South       60522.5270
Name: Sales, dtype: float64

In [10]:
get_data(2018,'Consumer')['Sales'].sum()

328604.4719

In [12]:
data.columns

Index(['Row ID', 'Order ID', 'Order Date', 'Ship Date', 'Ship Mode',
       'Customer ID', 'Customer Name', 'Segment', 'Country', 'City', 'State',
       'Postal Code', 'Region', 'Product ID', 'Category', 'Sub-Category',
       'Product Name', 'Sales', 'year', 'month', 'day'],
      dtype='object')

In [13]:
data[['Order Date', 'Customer ID', 'Customer Name','Segment', 'City', 'State', 'Region','Category', 'Sub-Category', 'Product Name','Sales', 'year', 'month']]

,Order Date,Customer ID,Customer Name,Segment,City,State,Region,Category,Sub-Category,Product Name,Sales,year,month
0,2017-08-11,CG-12520,Claire Gute,Consumer,Henderson,Kentucky,South,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2017,8
1,2017-08-11,CG-12520,Claire Gute,Consumer,Henderson,Kentucky,South,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,2017,8
2,2017-12-06,DV-13045,Darrin Van Huff,Corporate,Los Angeles,California,West,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2017,12
3,2016-11-10,SO-20335,Sean O'Donnell,Consumer,Fort Lauderdale,Florida,South,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,2016,11
4,2016-11-10,SO-20335,Sean O'Donnell,Consumer,Fort Lauderdale,Florida,South,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2016,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9795,2017-05-21,SH-19975,Sally Hughsby,Corporate,Chicago,Illinois,Central,Office Supplies,Binders,"Cardinal HOLDit! Binder Insert Strips,Extra St...",3.7980,2017,5
9796,2016-12-01,CS-12490,Cindy Schnelling,Corporate,Toledo,Ohio,East,Office Supplies,Art,"BIC Brite Liner Highlighters, Chisel Tip",10.3680,2016,12
9797,2016-12-01,CS-12490,Cindy Schnelling,Corporate,Toledo,Ohio,East,Technology,Phones,GE 30524EE4,235.1880,2016,12
9798,2016-12-01,CS-12490,Cindy Schnelling,Corporate,Toledo,Ohio,East,Technology,Phones,Anker 24W Portable Micro USB Car Charger,26.3760,2016,12
9799,2016-12-01,CS-12490,Cindy Schnelling,Corporate,Toledo,Ohio,East,Technology,Accessories,SanDisk Cruzer 4 GB USB Flash Drive,10.3840,2016,12

In [24]:
get_data(2018,'Consumer').groupby(['year', 'month', 'Segment', 'State', 'City'])['Sales'].sum().reset_index()

     year  month   Segment          State           City     Sales
0    2018      1  Consumer     California    Los Angeles   845.594
1    2018      1  Consumer     California  San Francisco   975.842
2    2018      1  Consumer     California       San Jose   413.784
3    2018      1  Consumer       Colorado         Denver  1020.263
4    2018      1  Consumer    Connecticut      Waterbury     3.520
..    ...    ...       ...            ...            ...       ...
545  2018     12  Consumer     Washington        Edmonds    88.060
546  2018     12  Consumer     Washington           Kent    91.416
547  2018     12  Consumer     Washington       Longview    94.360
548  2018     12  Consumer     Washington        Seattle  2139.328
549  2018     12  Consumer  West Virginia       Wheeling   673.344

[550 rows x 6 columns]